.padded-link {
  margin: 0 5px;
  padding: 0;
}

.kpi-calc-month {
  margin: 2px;
  margin-right: 100px;
  float: left;
}

.kpi-calc-month > ul {
  list-style: none;
  padding-left: 10px;
}

.kpi-selector-links {
  margin: 10px 0;
}
ul.kpi-ul li {
  margin-top: 3px;
}

.kpi-tree-error {
  margin: 15px 0;
  margin-right: 15px;
  padding: 5px;
  border: 1px solid #FDBF3B;
  background: #FFEBC1;
  /*border: 1px solid #D8B383;
  background: #FFEEC3;*/
  color: #333;
}
div.alert_info
  {
  background-image: url(../images/alert.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  }

a.alert_info
  {
  background-image: url(../images/bullet_error.png);
  background-repeat: no-repeat;
  padding-right: 15px;
  background-position: 100%;
  }
.icon-print
{
  background-image: url(../images/printer.png);
}
.kpi-icon-refresh
{
  background-image: url(../images/refresh.png);
}
.icon-clock
{
  background-image: url(../images/clock.png);
}
.icon-clock-active
{
  background-image: url(../images/clock-active.png);
}
#prepayment_form
{
  max-width: 700px;
}
#surcharges_table
  {
  max-width: 350px;
  }
.prepayment_info.nodata
{
  text-align: left;
  padding: 10px;
}
.icon-clear
{
  background-image: url(../images/clear.png);
}

div.period_in_marks
  {
  margin: 10px 0px 10px 0px;
  }

div.period_in_marks div.vacation
  {
  background-repeat: repeat-y;
  }

td.vacation, div.vacation
  {
  background-image: url(../images/vac_background.png);
  background-repeat: repeat-x;
  }

td.vacation_start_in_period
  {
  background-position: 0% 100%;
  }
div.period_in_marks div.vacation_start_in_period
  {
  background-position: 100% 0%;
  }
td.vacation_end_in_period
  {
  background-position: 0% 0%;
  }
div.period_in_marks div.vacation_end_in_period
  {
  background-position: 0% 0%;
  }
td.period_in_vacation
  {
  background-position: 0% 0%;
  background-repeat: repeat;
  }
div.period_in_marks div.period_in_vacation
  {
  background-position: 0% 0%;
  background-repeat: repeat;
  }

td.vacation_in_period
  {
  background-position: 0% 50%;
  }
div.period_in_marks div.vacation_in_period
  {
  background-position: 50% 0%;
  }


div.analytics_indicator span.value
  {
  margin-right: 12px;
  margin-bottom: 3px;
  padding: 0px 3px 0px 0px;
  }

div.analytics_indicator.salary span.value, div.analytics_indicator.salary_label span.value
  {
  background-color: #F3DCDC;
  }
div.analytics_indicator.salary_for_avg span.value, div.analytics_indicator.salary_for_avg_label span.value
  {
  background-color: #DAF7D4;
  }
div.analytics_indicator.kpi_ratio span.value, div.analytics_indicator.kpi_ratio_label span.value
  {
  background-color: #F5F7E2;
  }
div.analytics_indicator.time_ratio span.value, div.analytics_indicator.time_ratio_label span.value
  {
  background-color: #DCF5F7;
  }
div.analytics_indicator.salary_if_time_ratio_100 span.value, div.analytics_indicator.salary_if_time_ratio_100_label span.value
  {
  background-color: #EDDCF7;
  }



div.analytics_item
  {
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 10px 0px;
  background-color: #F7F7F7;
  }

.lower_divider
  {
  border-bottom: 1px solid #DDD;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  }

.kpi_mark_submit_button
  {
  font-size: 16pt;
  }

.left_border
  {
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
  }

div.mark_for_inspector textarea
  {
  margin: 2px;
  }

div.mark_for_inspector.completed
  {
  background-color: #F4FFF2;
  }
div.mark_for_inspector.completed textarea, div.mark_for_inspector.completed input
  {
  background-color: #E7FAE3;
  }
div.mark_for_inspector.disabled
  {
  background-color: #F7F7F7;
  }
div.mark_for_inspector.disabled textarea, div.mark_for_inspector.disabled input
  {
  background-color: #F7F7F7;
  }

div.mark_for_inspector div.indicator_name
  {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  }

div.mark_for_inspector
  {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0px 6px 6px 0px;
  }

div.mark_for_inspector label
  {
  font-weight: bold;
  }

div.year_months
  {
  margin-right: 10px;
  line-height: 2em;
  text-transform: capitalize;
  }

.kpi_common_links
  {
  margin-right: 15px;
  padding-top: 4px;
  }

#aplied_report_table_colls label
  {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;

  }

td.fixed_coll, th.fixed_coll
  {
  background-image: url(../images/fixed_bg.png);
  }
table th.col_divider, table td.col_divider
  {
  padding: 0px 1px 0px 0px;
  background-color: #DADADA;
  }
table td.row_divider
  {
  padding: 1px 0px 0px 0px;
  background-color: #DADADA;
  }

table.list tr.divider td, table.list tr.divider:hover td
  {
  border: none;
  height: 15px;
  padding: 0px;
  }
table.list tr.divider:hover
  {
  background-color: #fff;
  }

.align_right input
  {
  text-align: right;
  }

#kpi_matrix
  {
  width: auto;
  margin: 10px 0px 0px 182px;
  }

#kpi_matrix input
  {
  width: 60px;
  }

table tr.red
  {
  background-color: #FCF7ED;
  }
table tr.green
  {
  background-color: #f1fbec;
  }
table tr.disabled
  {
  background-color: #EBEBEB;
  }
table tr.blue
  {
  background-color: #e6f1f9;
  }

table.indicators td, table.patterns td
  {
  padding: 4px;
  }

table.indicators tr.active, tr.approved, a.kpi_active, tr.kpi_active
  {
  /*background-color: #F1FBEC;*/
  background-color: #E2F8D7;
  }
table tr.kpi_locked
  {
  /*background-color: #FCF7ED;*/
  background-color: #FCEBDD;
  }

table.patterns tr.warning
  {
  text-align: left;
  }


#indicators_search {
  background: url(../images/magnifier.png) no-repeat 2px 50%;
  padding-left: 20px;
  border: 1px solid #9EB1C2;
  height: 1.5em;
  width: 95%;
}

#tab-content-indicators fieldset div,  #tab-content-apply_to fieldset div, #tab-content-users #users {
  max-height: 400px;
  overflow: auto;
}

/*-----------------------------------------------------*/

/*-----------------------------------------------------*/

#tab-content-apply_to .splitcontentleft {
  width: 64%;
}

#tab-content-indicators .splitcontentright, #tab-content-apply_to .splitcontentright {
  width: 34%;
}

#tab-content-indicators fieldset legend {
  font-weight: bold;
}

#tab-content-indicators fieldset label, #tab-content-apply_to fieldset label {
  display: block;
}

input#principal_search, input.user_search {
  background-clip: border-box;
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  border: solid 1px #bbb;
  border-radius: 4px;
  color: black;
  margin: 1px;
  padding: 1px;
  padding-left: 20px;
  text-indent: 0px;
  vertical-align: middle;
  width: 100%;
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


table.indicators td.weight input, input.weight
  {
  width: 25px;
  }

td.fact_value input, input.fact_value
  {
  width: 120px;
  }

tr.not_integrity
  {
  background-color: #FFEBC1;
  }

div.kpi_inspector
  {
  margin: 10px 0px 5px 0px;
  }

input.completed, select.completed, textarea.completed
  {
  background-color: #E7FAE3
  }

.kpi_date_links
  {
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  float: left;
  }


.kpi_date_links a
  {
  display: block;
  padding: 3px;
  float: left;
  }

.kpi_date_links a.current
  {
  padding: 2px;
  }
.kpi_date_links span.arr
  {
  float: left;
  display: block;
  margin: 1px 5px 0px 5px;
  }

span.arr
  {
  font-size: 14pt;
  }

table.list tbody tr.kpi_cat td
  {
  /*font-weight: bold;*/
  background-color: #f7f7f7;
  }

table.list tbody tr.kpi_indicator.green td
  {
  background-color: #DFF0E0;
  }

th.narrow
  {
  width: 1%;
  }

table.kpi_calc tr td.inspector
  {
  padding-left: 30px;
  }
table.kpi_calc tr td
{
  height: 19px;
}

span.value
  {
  padding-left: 6px;
  margin-right: 20px;
  }

span.value.minus
  {
  padding-left: 0px;
  }

span.unit
  {
  position: relative;
  top: 2px;
  font-weight: normal;
  font-size: 0.8em;
  color: #c2c2c2;
  float: right;
  margin-left: -20px;
  }

.kpi_factor
  {
  text-align: right;
  font-size: 2em;
  }

#applied_user_search.ajax-loading {
  background-image: url(../images/loading.gif);
}

textarea.expl_warning
  {
  background-color: #FFF0F0;
  }

a.add_indicator
  {
  background-image: url(../images/add_indicator.png);
  margin-right: 5px;
  }
a.add_pattern
  {
  background-image: url(../images/pattern.png);
  margin-right: 5px;
  }
a.add_period
  {
  background-image: url(../images/add_period.png);
  }
a.activate_period
  {
  background-image: url(../images/activate_period.png);
  margin-right: 5px;
  }
a.close_period
  {
  background-image: url(../images/close_period.png);
  margin-right: 5px;
  }
a.reopen_period
  {
  background-image: url(../images/unlock_period.png);
  margin-right: 5px;
  }

a.approve
  {
  background-image: url(../images/approve.png);
  margin-right: 5px;
  }
a.redo
  {
  background-image: url(../images/redo.png);
  margin-right: 5px;
  }
a.unvisible.visibility_toggle
  {
  text-decoration: line-through;
  }

.W100AUTO
  {
  width: 100%;
  overflow: auto;
  }

#select_period_date {
  font-size: 1.2em;
  padding-right: 15px;
  margin-top: -2px;

  }
#select_period_date select{
  text-transform: capitalize;
  }

div.left_form_part
  {
  width: 50%;
  min-width: 450px;
  margin: 0px 5px 0px 0px;
  }
div.right_form_part
  {
  width: 49%;
  min-width: 450px;
  margin: 0px 0px 0px 5px;
  }

div.mark_chart
  {
    min-width: 400px;
    height: 400px;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0px 10px 0px 0px;
    margin: 10px;
  }

div.indicator_percent_desc
    {
    min-width: 300px;
    max-width: 550px;
    padding: 10px 0px 0px 0px;
    font-size: 10pt;
    font-family: 'Lucida Grande', Verdana;
    }
div.indicator_percent_desc div.caption
    {
    font-size: 12pt;
    font-family: Arial;
    color: #575757;
    padding: 10px 0px 0px 0px;
    }

div.indicator_percent_desc ul {
    margin: 10px 0px 0px 0px;
    padding-left: 15px;
}

.plan_on_chart
  {
  background-color: #2e8518;
  padding: 1px;
  color: white;
  font-weight: bold;
  font-size: 8pt;
  }
.fact_on_chart
  {
  background-color: #ff0000;
  padding: 1px;
  color: white;
  font-weight: bold;
  font-size: 8pt;
  }
div.issues_in_calc
  {
  overflow: auto;
  height: 161px;
  }

ul.folding_tree li.opened
  {
  list-style-image: url(../images/minus.gif);
  }
ul.folding_tree li.closed
  {
  list-style-image: url(../images/plus.gif);
  }

ul.folding_tree li.disc
  {
  list-style-image: none;
  }

ul.folding_tree.opened
{
  display: block;
  padding-left: 30px !important;
}
ul.folding_tree.closed
  {
  display: none;
  }


ul.folding_tree li
  {
  list-style-type: disc;
  }
div.kpi_footnote
  {
  border-bottom: 1px solid #ccc;
  padding: 0px 100px 5px 0px;
  margin: 5px 3px 5px 3px;
  }

div.kpi_footnote.right
  {
  padding: 0px 0px 5px 100px;
  margin: 5px 3px 5px 3px;
  }

div.kpi_footnote .nodata
  {
  margin-bottom: 0px;
  }
div.kpi_footnote .selected
  {
  padding: 2px;
  }

div.payment
  {
  font-size: 1.5em;
  margin-top: 26px;
  margin-bottom: 45px;
  }
div.payment-step
{
  font-size: 1.5em;
  margin-top: 26px;
  margin-bottom: 120px;
}

span.no_align_unit
  {
  font-size: 0.8em;
  color: #c2c2c2;
  padding-left: 5px;
  }

div.fraction .numerator
  {
  border-bottom: 1px solid rgb(116, 116, 116);
  padding-bottom: 3px;
  text-align: center;
  }
div.fraction .denominator
  {
  text-align: center;
  }

div.fraction
  {
  float: left;
  }

div.formula
  {
  /*overflow: hidden;*/
  }

div.formula div.no_fraction_item
  {
  padding: 12px 3px 3px;
  }

div.formula span.sign
  {
  color: rgb(116, 116, 116);
  }

input.base_salary_field
  {
  width: 70px;
  }

div.user_marks div.tabs
  {
  display: none;
  }
label.checkbox
  {
  font-weight: normal;
  }

div.right_indent_10
  {
  margin-right: 10px;
  }
div.right_divider_5
  {
  padding-right: 5px;
  border-right: 1px solid #ccc;
  }

div.left_divider_5
  {
  padding-left: 5px;
  border-left: 1px solid #ccc;
  }
td.left_divider_5
  {
  border-left: 1px solid #ccc;
  vertical-align: top;
  }
div.grey
  {
  color: #666;
  }

.negative
  {
  background-color: #cde8f8;
  }

img.hide_table_column, img.show_table_column
  {
  cursor:pointer;
  }

/*Всплывающие подсказки*/
/*----------------------------------------------------------------------------------------------*/
.explanation_window {
  position:relative;
  z-index:1;
  zoom:1;
  color:#06F;
}

.explanation_window em {
  display:none;
}

.explanation_window:hover em {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  line-height: normal;
  color: #000;
  text-decoration: none;
  padding: 5px;
  top: 45px;
  font-size: 9pt;
  font-style: normal;
}

.explanation_window:hover em i {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 5px;
  border-bottom: 7px solid #666;
  border-right: 7px solid transparent;
  _border-left: 7px solid #FDEFC6;
  display: block;
  height: 0;
  overflow: hidden;
}

/*----------------------------------------------------------------------------------------------*/

label.praise, div.praise
  {
  background-image: url(../images/thumb_up.png);
  display: block;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  }

label.complain, div.complain
  {
  background-image: url(../images/thumb_down.png);
  display: block;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  }

div.complain, div.praise
  {
  background-position: 0% 50%;
  }


.in_col label
  {
  display: block;
  margin-bottom: 10px;
  }

div.resizable_scroll
  {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0px;
  }

input.month_link
  {
  background-image: url(../images/month.png);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  border: 1px solid #D5D5D5;
  padding: 3px 16px 3px 3px;
  }

.label
  {
padding: 1px 4px;
float: left;
  }

.label.worked
  {
background-color: #F16849;
border-radius: 4px 4px 4px 4px;
color: white;
  }
a.export_to_excel
{
  background: url("../images/export_to_excel.png") no-repeat scroll 1px 50% transparent;
  padding: 2px 0px 0px 20px;
}
td.boolean_flag
{
  width: 10px;
  white-space: nowrap;
  text-align: center !important;
}
td.fit_text
{
  width: 10px;
  white-space: nowrap;
}
.namer label
{
  font-weight: bold;
}
a.calc_period
{
  background-image: url(../images/coins.png);
  margin-right: 5px;
}
a.cancel_calc_period
{
  background-image: url(../images/coins_delete.png);
  margin-right: 5px;
}

input.kpi_wide {
  width: 98%;
}
.kpi-icon-locked
{
  background-image: url(../images/locked.png);
  background-repeat: no-repeat;
  padding-right: 15px;
  background-position: 100% -3px;
}
.hint--kpi-info:after
{
  left: 1px;
  background-color: #F0F0F0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
  color: #6D6D6D;
  border-radius: 2px;
}
.hint--kpi-info.hint--top:before
{
  border-top-color: #F0F0F0;
  left: 1px;
}
.hint--kpi-info.hint--bottom:before
{
  border-bottom-color: #F0F0F0;
  left: 1px;
}
.icon-task-exec
{
  background-image: url(../images/start.png);
}
.kpi-user-not-active > span > a, .kpi-user-not-active > span > a > span
{
  text-decoration: line-through;
  border-bottom-color: #DCE7D0;
  color: #90AD72;
}

#sidebar .kpi-user-not-active > span > a.selected, #sidebar .kpi-user-not-active > span > a.selected > span
{
  text-decoration: line-through;
  border-bottom-color: #DCE7D0;
  color: #D8D8D8;
}
.cut_view {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
.icon-spread
{
  background-image: url(../images/spread.png);
}
.kpi-step-input
{
  width: 100%;
  box-sizing: border-box;
}
input.kpi-step-error
{
  border: solid #FF0000 1px;
}
div.formula div.tooltip div.tooltip-inner
{
  background-color: #F0F0F0;
  box-shadow: 4px 4px 8px rgba(0,0,0,.3);
  overflow x: auto;
  margin-top: 50px;
}
div.formula div.tooltip div.tooltip-arrow
{
  border-bottom-color: #F0F0F0;
  border-width: 0 5px 55px;
}
table.kpi-progress-tracker
{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-collapse: collapse;
}
table.kpi-progress-tracker tr td
{
  display: inline-block;
  text-align: center;
  font-size: 6pt;
  white-space: nowrap;
  width: 35px;
  padding: 0;
}
table.kpi-progress-tracker tr td div
{
  height: 100%;
}
table.kpi-progress-tracker tr td span.kpi-unit
{
  font-size: 1em;
  color: #C2C2C2;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-done,
table.kpi-progress-tracker tr td.kpi-progress-tracker-current,
table.kpi-progress-tracker tr td.kpi-progress-tracker-todo {
  height: 3px;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-current {
  width: 40px;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-done div {
  color: black;
  background-color: yellowgreen;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-current div {
  color: black;
  background-color: yellowgreen;
  font-weight: bold;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-todo div {
  color: silver;
  background-color: silver;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-text-current {
  font-weight: bold;
  font-size: 7pt;
  width: 40px;
}
table.kpi-progress-tracker tr td:before {
  position: relative;
  float: left;
  left: 50%;
  height: 9px;
  width: 2px;
  top: -100%;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-done:before {
  content: '';
  background-color: yellowgreen;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-current:before {
  content: '';
  background-color: yellowgreen;
}
table.kpi-progress-tracker tr td.kpi-progress-tracker-todo:before {
  content: '';
  background-color: silver;
}
ul.kpi-thin
{
  margin: 5px;
  padding-left: 15px;
}
table.kpi-report-footnote td {
  padding: 5px 0 5px 5px;
}

#kpi-what-to-do-to-upstep {
  margin-top: 5px;
}
#periods-report-count {
  margin-bottom: 0.5em;
}

#kpi_patterns_filter_form input[type="submit"], #kpi_calc_periods_filter_form input[type="submit"] {
  height: 28px;
}